div#container{
	width:800px;
	height:800px;
	margin:150px auto -7px auto;
	background: white;
}
ul#menu{
	float: right;
	text-align: center;
	list-style-type: none;
}
ul#menu li{
	display: inline;
}
#nav{
	height: 80px;
	width: 780px;
	background: lightblue;
	padding: 10px;
position: absolute;
top: 0;
}
.square{
	width: 25%;
	height: 25%;
	margin: 0 0 0 0;
	padding: 0px;
	border:none;
	outline: gray solid 1px;


	display:block;

float:left;
}
.square8{
	width:12.5%;
	height:12.5%;
	margin: 0 0 -4px 0;
	padding: 0px;

	display:inline-block;
}

.red{
	background: lightblue;
}

button{
	width:100px;
	height:30px;
	margin: 25px 10px 0  0;
	padding: 5px;
	background: black;
	color: lightblue;
	border-radius: 10px;

}

button:hover{
	background: #4D4D4D;
	color:#CEEFFF;
}

div#wrapper{
	width: 800px;
	margin: 10px auto;
}
.title{
	float: left;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2.5px;
	text-shadow:2px 2px white;
	}
body{
	background: #FFFFC2;
	font-family: Verdana;
}

.clear{
	clear:both;
}